html,body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    height:100%;
    background-color: #f8f8fa;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8f8fa;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #373c55;
    overflow-x: hidden;
    padding-top: 60px;
}

/* Style sidebar links: guidance from: https://www.w3schools.com/howto/howto_css_sidebar_icons.asp */
/* to be able to distance the icons from eachother i had to put them in flexbox and make the border color the same as the nav*/
#mainInSidenav, #favInSidenav {
  background-color: white;
    border-right-width: 4px;
    border-color: #373c55;
    border-style: solid;
    box-sizing: border-box;
    padding: 2px 20px 1px 10px;
    border-radius: 7px;
    position: relative; left: 15px;
    display: flex;
    justify-content: right;
    }
    .bi-house-fill, .bi-suit-heart-fill{
        color: black;
        background-color: white;

   }

.main {
    padding-left: 50px;
    width: 100% - 50px;
    height: 100%;
    top: 0;
    background-color: #f8f8fa;
}

.topnav {
    overflow: hidden;
    height: 50px;
    background-color: #ffffff;
    width: 100%;
    
}

.topnav-right {
    float: right;
}

.main-lhs {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #f8f8fa;
}

.main-rhs {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #f8f8fa;
}

.favourites {
    width: 100%;
    height: 100%;
    background-color: #f8f8fa;
}


.main-article {
    width: 100%;
    height: 30%;
    background-color: #f8f8fa;
}

.other-articles {
    width: 100%;
    height: 70%;
    background-color: #f8f8fa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    
}

.weather {
    width: 100%;
    height: 33.33%;
    background-color: #f8f8fa;
}

#weather-today {
    width: 100%;
    height: 100%;
    background-color: #f8f8fa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Citation : https://codepen.io/veekungx/pen/MWgvBxe */
/* Flex - Cross Browser CSS */
#weather-forecast thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }
  #weather-forecast  tbody {
      display: flex;
  }
  #weather-forecast  tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }
  #weather-forecast  td, #weather-forecast  th {
    display: block;
  }

/* Citation end */
