html,body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    height:100%;
    background-color: #f8f8fa;
    display: flex;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: max-content;
    margin: 0 auto;
    background-color: #f8f8fa;
    display: -ms-grid;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #373c55;
    overflow-x: hidden;
    padding-top: 60px;
}
/* if the design is changed at any point and we change the
icons to f.ex "Main" and "favorites" when hovering it will change the color to white*/
.sidenav a:hover{
    color: white;
}

/* Style sidebar links: guidance from: https://www.w3schools.com/howto/howto_css_sidebar_icons.asp */
/* to be able to distance the icons from eachother i had to put them in flexbox and make the border color the same as the nav*/
#mainInSidenav, #favInSidenav {
  background-color: white;
    border-right-width: 4px;
    border-color: #373c55;
    border-style: solid;
    box-sizing: border-box;
    padding: 2px 20px 1px 10px;
    border-radius: 7px;
    position: relative; left: 15px;
    display: flex;
    justify-content: right;
    }
    .bi-house-fill, .bi-suit-heart-fill{
        color: black;
        background-color: white;
   }

.main {
    padding-left: 50px;
    width: 100% - 50px;
    height: 100%;
    top: 0;
    background-color: #f8f8fa;
}
/* Searchbar changes */
.topnav {
    overflow: hidden;
    height: 50px;
    background-color: #ffffff;
    width: 100%;
}
.topnavSearchbar{
    padding: 3px;
    color: grey;
    float: left;
    border-color: white;
}
    #search{
    border-radius: 5px;
    border-width: 1px;
    border-left: 5px;
    border-left-color: white;
    border-color: lightgray;
}
    .formAction{
    padding: 3px;
    color: grey;
    float: left;
    border-color: white;
}

/*User and logout changes to fulfill the design requirements*/
.topnav-right {
    float: right;
    margin-top: 0px;
    display: flex;
}
    #user-profile{
color: rgb(15, 12, 12);
font-weight: bold;
align-self: flex-start;
margin-top: 5px;
}
        #profilePictureUser{
max-width: 30px;
max-height: 32px;
padding: 2px;
margin-top: 2px;
border-radius: 25px;
}
    #logout-button{
        color: grey;
font-style: italic;
}




.main-lhs {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #f8f8fa;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: -ms-grid;
}
    #NewsHeadline{
        font-weight: bold;
   
    }

.main-rhs {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #f8f8fa;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: -ms-grid;
}

.favourites {
    width: 100%;
    height: 100%;
    background-color: #f8f8fa;
}


.main-article {
    width: 100%;
    height: 30%;
    background-color: #f8f8fa;
}

.other-articles {
    width: 100%;
    height: 70%;
    background-color: #f8f8fa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    
}

.weather {
    width: 100%;
    height: 33.33%;
    background-color: #f8f8fa;
}

#weather-today {
    width: 100%;
    height: 100%;
    background-color: #f8f8fa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Citation : https://codepen.io/veekungx/pen/MWgvBxe */
/* Flex - Cross Browser CSS */
#weather-forecast thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }
  #weather-forecast  tbody {
      display: flex;
  }
  #weather-forecast  tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }
  #weather-forecast  td, #weather-forecast  th {
    display: block;
  }

/* Citation end */
